@media (min-width: 940px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 550px;
    /* background-color: #7F8C8D; */
    background: linear-gradient(0deg, rgba(35,49,93,1) 0%, rgba(60,60,185,1) 100%);

    
  }
  .profile-section {
    margin-top: 50px;
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-picture {
    height: 170px;
    object-fit: cover;
    border-radius: 80px;
  }
  .profile div {
    margin-left: 20px;
  }

  .name {
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .introduction p {
    margin-top: 20px;
    font-size: 17px;
    display: flex;
    justify-content: center;
  }

  .navigation-section {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
  .nav-items {
    z-index: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-items div {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .nav-items a {
    text-decoration: none;
    /* color: white; */
  }
  .nav-items a:hover {
    text-decoration: underline;
    color: white;
  }
  .links-section {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links-items {
    font-size: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 939px) {
  body {
    height: 2000px;
  }
  .sidebar {
    /* background-color: #65404A; */
    padding: 10px 0;
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  .profile-picture {
    height: 60px;
    object-fit: cover;
    border-radius: 80px;
  }

  .name {
    margin-left: 10px;
  }
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }

  .navigation-section {
    padding: 20px 0;
  }
  .nav-items {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .links-section {
    display: flex;
    justify-content: center;
  }
  .links-items {
    display: flex;
    gap: 10px;
  }
}
